<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar persona</h3>
        </div>
        <div class="card-body">
           <form [formGroup]="forma" (ngSubmit)="actualizar()" novalidate="novalidate">
               <div lass="form-group row" [ngClass]="{'has-danger': forma.controls.nombre.invalid}">
                   <input class="form-control" type="text" placeholder="Nombre:" formControlName="nombre">
                   <div class="form-control-feedback" *ngIf="forma.controls.nombre.errors?.required">El nombre es necesario</div>
                    <div class="form-control-feedback" *ngIf="forma.controls.nombre.errors?.minlength">Por lo menos 3 caracteres</div>
               </div>
               <div lass="form-group row" [ngClass]="{'has-danger': forma.controls.apellido.invalid}" style="margin-top: 5px;">
                    <input class="form-control" type="text" placeholder="Apellido:" formControlName="apellido">
                    <div class="form-control-feedback" *ngIf="forma.controls.apellido.errors?.required">El apellido es necesario</div>
                    <div class="form-control-feedback" *ngIf="forma.controls.apellido.errors?.minlength">Por lo menos 3 caracteres</div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col-md-8">
                        <button type="submit" class="btn btn-outline-success btn-block">Guardar</button>
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>